{% extends 'base.html' %}

{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Search Products</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Find What You're Looking For...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-10">
        				<br/><br/>
<div class="card">
  <div class="card-header">
    Search Products
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="mb-3">
  
          <input type="text" class="form-control" placeholder="Search For Products" name="searched">
        </div>
    <button type="submit" class="btn btn-secondary">
        Search Products
    </button>
    </form>
  </div>
</div>
<br/><br/>

{% if searched %}
    <div class="container px-4 px-lg-5 mt-5">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Stock</th>
                            <th scope="col">Producer</th>
                            <th scope="col">Product No</th>
                            <th scope="col">Product OEM</th>
                            <th scope="col">Name</th>
                            <th scope="col">Cars</th>
                            <th scope="col">Unit</th>
                            <th scope="col" style="width: 10%;"><i class="bi bi-camera"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in searched %}
                        <tr>
                            <td class="text-center">
                                {% if product.is_sale %}
                                    <i class="bi bi-check-circle-fill text-success"></i>
                                {% else %}
                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                {% endif %}
                            </td>
                            <td>{{ product.product_supplier }}</td>
                            <td>{{ product.product_code }}</td>
                            <td>{{ product.oem }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.unit }}</td>
                            <td class="text-center">
                                <button class="btn btn-primary see-image-btn" data-bs-toggle="modal" data-bs-target="#imageModal" data-image-url="{{ product.image.url }}">
                                    <i class="bi bi-camera" ></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endif %}
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        			</div>
        		</center>
        	</div>
        </div>
<!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Product Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img id="modalImage" class="img-fluid" src="" alt="Product Image">
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const imageModal = document.getElementById('imageModal');
            imageModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const imageUrl = button.getAttribute('data-image-url');
                const modalImage = document.getElementById('modalImage');
                modalImage.src = imageUrl;
            });
        });
    </script>
{% endblock %}

